#mybody {
    background-color: rgb(49, 17, 49);
}
#myh1{
    color:rgb(14, 146, 210);
    text-align: center;
    font-family: Impact;
    font-size: 45px;
}
#myh2{
    color: rgb(6, 99, 170);
    text-decoration: wavy;
    text-align: center;
    font-family: 'Times New Roman';
}
#myh3{
    color: rgb(234, 64, 77);
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
}
#myh4{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Tahoma;
}
#myfot{
    color: azure;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}
#mydiv{
background-color: azure;
max-width: 400px;
margin: auto;
padding: 20px;
border-radius: 10px;
}

.biografia {
    background-color: azure;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.dato{
    margin: 10px 0;
    font-size: 18px;
}

.etiqueta{
    font-weight: bold;
    color: #555;
}

.valor{
    font-family: Tahoma;
    color: #222;
}